[Unit]
Description=springapp service
After=network.target

[Service]
Type=forking
ExecStart={{ app_manager_path }} start
ExecStop={{ app_manager_path }} stop
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flink

[Install]
WantedBy=multi-user.target
